<a href="https://colab.research.google.com/github/Sambhaji6529/Machine_Project-/blob/main/Weather_aus.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#from kedro.extras.datasets.pandas import CSVDataSet
#import pandas as pd 
%reload_kedro

[04/30/23 17:26:55] INFO     Resolved project path as:                                              ]8;id=609233;file://C:\Users\sambhaji\work\weather_us\venv\lib\site-packages\kedro\ipython\__init__.py\__init__.py]8;;\:]8;id=694246;file://C:\Users\sambhaji\work\weather_us\venv\lib\site-packages\kedro\ipython\__init__.py#134\134]8;;\
                             C:\Users\sambhaji\work\weather_us\weather-us.
                             To set a different path, run '%reload_kedro <project_root>'

[04/30/23 17:26:56] INFO     Kedro project weather_us                                               ]8;id=740774;file://C:\Users\sambhaji\work\weather_us\venv\lib\site-packages\kedro\ipython\__init__.py\__init__.py]8;;\:]8;id=888950;file://C:\Users\sambhaji\work\weather_us\venv\lib\site-packages\kedro\ipython\__init__.py#103\103]8;;\

                    INFO     Defined global variable 'context', 'session', 'catalog' and            ]8;id=634916;file://C:\Users\sambhaji\work\weather_us\venv\lib\site-packages\kedro\ipython\__init__.py\__init__.py]8;;\:]8;id=663722;file://C:\Users\sambhaji\work\weather_us\venv\lib\site-packages\kedro\ipython\__init__.py#104\104]8;;\
                             'pipelines'

In [ ]:
pip install matplotlib

Collecting matplotlib
  Using cached matplotlib-3.7.1-cp310-cp310-win_amd64.whl (7.6 MB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Using cached contourpy-1.0.7-cp310-cp310-win_amd64.whl (162 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.39.3-py3-none-any.whl (1.0 MB)
                                              0.0/1.0 MB ? eta -:--:--
     --                                       0.1/1.0 MB 1.9 MB/s eta 0:00:01
     ----------                               0.3/1.0 MB 3.4 MB/s eta 0:00:01
     ------------------------                 0.6/1.0 MB 4.9 MB/s eta 0:00:01
     -------------------------------------    0.9/1.0 MB 5.4 MB/s eta 0:00:01
     --------------------------------------   1.0/1.0 MB 4.8 MB/s eta 0:00:01
     ---------------------------------------- 1.0/1.0 MB 4.0 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1 (from matplotlib)
  Using cached kiwisolver-1.4.4-cp310-cp310-win_amd64.whl (55 kB)
Requirement already satisfied: numpy>=1.20 in c:\users\sambhaji\work\weather_us\venv\lib\site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\sambhaji\work\weather_us\venv\lib\site-packages (from matplotlib) (23.1)
Collecting pillow>=6.2.0 (from matplotlib)
  Downloading Pillow-9.5.0-cp310-cp310-win_amd64.whl (2.5 MB)
                                              0.0/2.5 MB ? eta -:--:--
     -----                                    0.3/2.5 MB 9.9 MB/s eta 0:00:01
     -----------                              0.7/2.5 MB 9.1 MB/s eta 0:00:01
     -----------------                        1.1/2.5 MB 8.8 MB/s eta 0:00:01
     ------------------------                 1.5/2.5 MB 8.8 MB/s eta 0:00:01
     -----------------------------            1.9/2.5 MB 8.4 MB/s eta 0:00:01
     -------------------------------------    2.3/2.5 MB 8.7 MB/s eta 0:00:01
     ---------------------------------------  2.5/2.5 MB 8.0 MB/s eta 0:00:01
     ---------------------------------------- 2.5/2.5 MB 7.3 MB/s eta 0:00:00
Collecting pyparsing>=2.3.1 (from matplotlib)
  Using cached pyparsing-3.0.9-py3-none-any.whl (98 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sambhaji\work\weather_us\venv\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\sambhaji\work\weather_us\venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.0.7 cycler-0.11.0 fonttools-4.39.3 kiwisolver-1.4.4 matplotlib-3.7.1 pillow-9.5.0 pyparsing-3.0.9
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install seaborn

Collecting seaborn
  Using cached seaborn-0.12.2-py3-none-any.whl (293 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\sambhaji\work\weather_us\venv\lib\site-packages (from seaborn) (1.24.3)
Requirement already satisfied: pandas>=0.25 in c:\users\sambhaji\work\weather_us\venv\lib\site-packages (from seaborn) (2.0.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\sambhaji\work\weather_us\venv\lib\site-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sambhaji\work\weather_us\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\sambhaji\work\weather_us\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sambhaji\work\weather_us\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sambhaji\work\weather_us\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\sambhaji\work\weather_us\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sambhaji\work\weather_us\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sambhaji\work\weather_us\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sambhaji\work\weather_us\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sambhaji\work\weather_us\venv\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sambhaji\work\weather_us\venv\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\sambhaji\work\weather_us\venv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.2
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import numpy as np  #linear algebra
import pandas as pd #data processing, CSV file I?O
import matplotlib.pyplot as plt #data visualization 
import seaborn as sns #statistical visualization 
%matplotlib inline 
import warnings
warnings.filterwarnings('ignore')

In [ ]:
catalog.list()

['weather_aus_raw', 'parameters']

In [ ]:
df = catalog.load("weather_aus_raw")

[04/30/23 17:27:44] INFO     Loading data from 'weather_aus_raw' (CSVDataSet)...                ]8;id=246492;file://C:\Users\sambhaji\work\weather_us\venv\lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=179260;file://C:\Users\sambhaji\work\weather_us\venv\lib\site-packages\kedro\io\data_catalog.py#343\343]8;;\

In [ ]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [ ]:
df.shape

(142193, 24)

In [ ]:
#remove date predictor in dataset
df = df.drop("Date", axis = 1)

In [ ]:
df.shape

(142193, 23)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       142193 non-null  object
 1   MinTemp        141556 non-null  float64
 2   MaxTemp        141871 non-null  float64
 3   Rainfall       140787 non-null  float64
 4   Evaporation    81350 non-null   float64
 5   Sunshine       74377 non-null   float64
 6   WindGustDir    132863 non-null  object
 7   WindGustSpeed  132923 non-null  float64
 8   WindDir9am     132180 non-null  object
 9   WindDir3pm     138415 non-null  object
 10  WindSpeed9am   140845 non-null  float64
 11  WindSpeed3pm   139563 non-null  float64
 12  Humidity9am    140419 non-null  float64
 13  Humidity3pm    138583 non-null  float64
 14  Pressure9am    128179 non-null  float64
 15  Pressure3pm    128212 non-null  float64
 16  Cloud9am       88536 non-null   float64
 17  Cloud3pm       85099 non-null   float64
 18  Temp9am        141289 non-null  float64
 19  Temp3pm        139467 non-null  float64
 20  RainToday      140787 non-null  object
 21  RISK_MM        142193 non-null  float64
 22  RainTomorrow   142193 non-null  object
dtypes: float64(17), object(6)
memory usage: 25.0+ MB

In [ ]:
df.columns

Index(['Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

# Extracting Training data/ labeled data

In [ ]:
#Dropping the null values in dependent variable 
#use df1 variable for train data
#df1 is our training data
df1 = df[df['RainTomorrow'].notna()] #This is our Training Data
df1.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [ ]:
df1.shape

(142193, 23)

In [ ]:
#we need to create  a node
def extract_training_data(df):
    """ Extracting the training data from raw data and droping Date column 
    Return: Pandas DataFrame here Raw Data
    output: DataFrame i.e. Training Data"""
    df = df.drop("Date", axis = 1)
    df1 = df[df['RainTomorrow'].notna()] #This is our training data
    return df1

In [ ]:
df1 = extract_training_data(df)

In [ ]:
df1.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [ ]:
df1.shape

(142193, 23)

In [ ]:
#model pickling --pickle --dump 
#model unpickling ---load the model in notebook 
#Inference we need predictions on null values(Target variable)